.App {
  height: 800px;
  width: 100vh;
}

body {
  display: flex;
  justify-content: center;
}

.map {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.marker {
  background-image: url('./image/locations.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  background-color: aliceblue;
  border-radius: 15px;
  border: solid 2px darkblue;
}

.marker-delivery {
  width: 25px;
  height: 25px;
  background-image: url('./image/location.png');
  background-size: cover;
  border-radius: 15px;
  border: solid 2px darkorange;
}

img, .search-bar {
  display: inline-block;
  vertical-align: top;
}

img {
  margin-right: 10px;
}